name: CI

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: write

env:
  VERSION: 26.0.0

jobs:
  build:
    name: macOS
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2

      - name: Build
        run: |
          tools/mesa.sh
          tools/vulkan.sh
          tools/moltenvk.sh

          tools/package.sh

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: macos
          path: artifacts/*

  release:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Download
        uses: actions/download-artifact@v4

      - name: Release
        uses: softprops/action-gh-release@v2.3.2
        with:
          name: KosmicKrisp ${{ env.VERSION }}
          tag_name: v${{ env.VERSION }}
          files: macos/*
          make_latest: true